.artboard {
  @apply w-full rounded-lg bg-white shadow-md mb-6;

  header {
    @apply flex items-center whitespace-nowrap py-5 pl-6;

    span {
      @apply before:mr-2 before:text-gray-200 before:content-['/'];
    }

    .plus {
      @apply ml-4 flex cursor-pointer items-center whitespace-nowrap border-l-2;

      svg {
        @apply ml-4 mr-2;
      }
    }
  }

  .desc {
    @apply bg-gray-200 px-6 py-4 text-left text-gray-700;
  }

  &-content {
    @apply relative flex w-full flex-wrap px-6;
  }

  &-red {
    @apply artboard shadow-md shadow-red-200 !important;

    header {
      @apply text-red-700;
    }

    .desc {
      @apply bg-red-100 px-6 py-4 text-left text-red-700;
    }

    .btn {
      @apply bg-red-600;
    }

    .btn:hover,
    .btn:focus {
      @apply bg-red-700;
    }

    .btn:active {
      @apply bg-red-800;
    }
  }
}
