name: Build, test and publish images

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  cancel-previous-runs:
    name: Cancel previous runs
    runs-on: ubuntu-latest
    if: "!contains(github.event.commits[0].message, '[skip ci]') && !contains(github.event.commits[0].message, '[ci skip]')"
    steps:
      - uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

  build:
    name: Build, test and publish
    runs-on: ubuntu-latest
    if: "!contains(github.event.commits[0].message, '[skip ci]') && !contains(github.event.commits[0].message, '[ci skip]')"
    needs: cancel-previous-runs

    steps:
      - uses: actions/checkout@v3

      - name: Setup ENV
        # https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-commands-for-github-actions#setting-an-environment-variable
        run: |
          echo "RELEASE_TAG=${GITHUB_REF:10}" >> $GITHUB_ENV
          echo "RELEASE_NAME=$GITHUB_WORKFLOW" >> $GITHUB_ENV

      - name: Generate changelog
        run: |
          curl https://github.com/gookit/gitw/releases/latest/download/chlog-linux-amd64 -L -o /usr/local/bin/chlog
          chmod a+x /usr/local/bin/chlog
          chlog -c .github/changelog.yml -o changelog.md prev last

      - name: Installing Protoc modules
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          make upd_protos
          ln -s $(go env GOPATH)/bin/protoc-gen-go /usr/local/bin/
          ln -s $(go env GOPATH)/bin/protoc-gen-go-grpc /usr/local/bin/
          ln -s $(go env GOPATH)/bin/protoc-gen-gotag /usr/local/bin/
          cd ./web && yarn install

      - name: Generate gRPC files
        run: make gen_protos

      - name: Build docker images
        run: make prod_package

      - name: Log into registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Publish images
        run: make prod_push

      # https://github.com/softprops/action-gh-release
      - name: Create release and upload assets
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: ${{ env.RELEASE_TAG }}
          tag_name: ${{ env.RELEASE_TAG }}
          body_path: changelog.md
          token: ${{ secrets.GITHUB_TOKEN }}
